<table class="table table-active">
  <thead>
    <tr>
      <th>Despesas Operacionais</th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% if @despesas_operacionais %>
  <% @despesas_operacionais.each do |despesa| %>

  <tbody>
    <tr>
      <td><%= despesa.code %></td>
      <td><%= despesa.name %></td>
      <td><%= despesa.balances.sum(:value) %></td>

    </tr>
  </tbody>
  <% end %>
  <% end %>
  <tbody>
    <tr>
      <td></td>
      <td><strong class="pull-right">Total:</strong></td>
      <td> <%= @despesa_total %> </td>
    </tr>
  </tbody>
</table>