<table class="table table-active">
  <thead>
    <tr>
      <th>Receita Operacional Bruta</th>
      <th></th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% if @receita_operacional %>
  <% @receita_operacional.each do |receita| %>

  <tbody>
    <tr>
      <td><%= receita.code %></td>
      <td><%= receita.name %></td>
      <td><%= receita.valor_receita(@init_date, @final_date)%></td>

    </tr>
  </tbody>
  <% end %>
  <% end %>
  <tbody>
    <tr>
      <td></td>
      <td><strong class="pull-right">Total:</strong></td>
      <td> <%= @receita_bruta %> </td>
    </tr>
  </tbody>
</table>