<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="visible-xs-block" href="#">LOGO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <a href="#" class="hidden-xs">LOGO</a>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled row row-no-gutter">
                        <li class="col-sm-3">
                            <a href="#"><span>Link 1<span class="sr-only">(current)</span></span></a>
                        </li>
                        <li class="col-sm-3">
                            <a href="#"><span>Link 2</span></a>
                        </li>
                        <li class="col-sm-3">
                            <a href="#"><span>Link 3 Lots of informati</span></a>
                        </li>
                        <li class="col-sm-3">
                            <a href="#"><span>Link 4</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-5">
                    <div class="vertical-align-md">
                        <form role="search">
                            <div class="input-group input-group-lg input-group-full">
                              <input type="text" class="form-control" aria-label="Search">
                              <div class="input-group-btn">
                                <div class="btn btn-default">
                                    <select class="form-control" style="width:10em">
                                        <option value="">All</option>
                                        <option value="">Section 1</option>
                                        <option value="">Section 2</option>
                                        <option value="">Section 3</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-default" aria-label="Execute search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>