<div class="row ">
    <div class="col-md-12">
        <div class="col-md-6">
          <div class="field" >
           <%= f.input :taxation, collection: ["Micro Empresário Individual - MEI", "Micro Empresário Micro e Empresa de Pequeno Porte - ME EPP"], label: "Reg. Especial de Tributação" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="field" >
            <%= f.input :state_insc, label: "Inscrição Estadual" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="field" >
            <%= f.input :local_insc, label: "Inscrição Municipal" %>
          </div>
        </div>
     

    </div>

    
</div>



