<h1>Nova Companhia</h1>

<%= form_tag new_company_path, :method => "get", class: "form-search" do %>
	<%= text_field_tag :bcnpj, params[:bcnpj], class: "search",placeholder: "Insira o CNPJ" %>
	<%= button_tag(type: "submit") do %>
		<span class="fa fa-search"></span>
	<% end %>
<% end %>


<%= render 'form' %>


